# Configurare Server
PORT=3000
NODE_ENV=development

#CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Configurare MongoDB
MONGODB_URI=mongodb://localhost:27017/todo-list

# Configurare JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Configurare Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100 